<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../static/script/jquery-3.3.1.min.js"></script>
    <script src="../static/script/move++.js"></script>

    <link rel="stylesheet" href="../static/layui/css/layui.css" media="all">
    <script src="../static/layui/layui.js"></script>
    <script src="../static/script/cookie.js"></script>
    <link rel="stylesheet" href="../static/styles/login.css">
    <link rel="stylesheet" href="../static/styles/index1.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/search-form.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-gl/dist/echarts-gl.min.js"></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-stat/dist/ecStat.min.js"></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/dataTool.min.js"></script>

        <script src="https://code.highcharts.com.cn/highcharts/highcharts.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts/modules/exporting.js"></script>
    <script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
{#    <script src="https://code.highcharts.com.cn/highcharts/themes/dark-unica.js"></script>#}

    <script>
       function searchToggle(obj, evt){
                var container = $(obj).closest('.search-wrapper');

                if(!container.hasClass('active')){
                      container.addClass('active');
                      evt.preventDefault();
                }
                else if(container.hasClass('active') && $(obj).closest('.input-holder').length == 0){
                      container.removeClass('active');
                      // clear input
                      container.find('.search-input').val('');
                      // clear and hide result container when we press close
                      container.find('.result-container').fadeOut(100, function(){$(this).empty();});
                }
            }

       function submitFn(obj, evt){
                value = $(obj).find('.search-input').val().trim();
                if(!value.length){
                    alert("关键词不能为空!");
                }
                else{
                    var link="details"+"?keyword="+value;
                    window.location.href=link;
                    {#search_req(value);#}
                }
                evt.preventDefault();
            }
</script>

<style>
        .company_data{
            position: absolute;
            width: 90%;
            left: 5%;
            top: 100px;
        }

        .content-item{
            width:1300px;height:580px;margin: auto;
            position: relative;
        }

         .content-item-data{
             height: 50px;
             line-height: 50px;
             text-align: left;
         }



</style>
</head>
<body>
<script>
    layui.use('element', function(){
      var element = layui.element;

      //一些事件监听
      element.on('tab(company_data)', function(data){
        console.log(data);
      });
    });
</script>

<div class="layui-tab layui-tab-brief company_data" lay-filter="company_data">
  <ul class="layui-tab-title">
    <li class="layui-this">行情走势</li>
    <li>公司概况</li>
    <li>公司高管</li>
    <li>股份结构</li>
    <li>十大股东</li>
    <li>财务报表</li>
    <li>财务分析</li>
    <li>主营构成</li>
  </ul>
  <div class="layui-tab-content">
{#      &***************************************************************************行情走势#}
        <div class="layui-tab-item layui-show">
            <div id="hangqingzoushi" style="min-width:400px;" class="content-item"></div>
            <script>
                Highcharts.setOptions({
                    global: {
                        useUTC: false
                    }
                });



                function activeLastPointToolip(chart) {
                    var points = chart.series[0].points;
                    chart.tooltip.refresh(points[points.length - 1]);
                }
                var chart = Highcharts.chart('hangqingzoushi', {
                    chart: {
                        type: 'spline',
                        marginRight: 10,
                        events: {
                            load: function () {
                                var series = this.series[0],
                                    chart = this;
                                activeLastPointToolip(chart);
                                setInterval(function () {
                                                                                                        {#******************y是传入的实时股价**************#}
                                    $.ajax({
                                           type: 'get',
                                           url: '/getrandom',
                                           success: function (ans) {
                                               var x = (new Date()).getTime(),y; // 当前时间
                                               console.log(parseFloat(ans));
                                               y=parseFloat(ans);
                                               series.addPoint([x, y], true, true);
                                                activeLastPointToolip(chart);
                                           }
                                         });

                                }, 1000*60);                                                                                             {# 1000*60 一分钟 #}
                            }
                        }
                    },
                    title: {
                        text: '实时股价'
                    },
                    xAxis: {
                        type: 'datetime',
                        //间距，时间戳，以下表示间距为1天，如果想表示间距为1周，就这么写
                        //7*24*3600*1000
                        tickInterval:  60* 1000,//一分钟
                        //格式化时间，day,week....
                        dateTimeLabelFormats: {
                            minute:'%H:%M'
                        },
                        tickmarkPlacement:'on'
                    },
                    yAxis: {
                        title: {
                            text: null
                        }
                    },
                    tooltip: {
                        formatter: function () {
                            return '<b>' + this.series.name + '</b><br/>' +
                                {#Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +#}
                                {#Highcharts.numberFormat(this.y, 2);#}
                            Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                                Highcharts.numberFormat(this.y, 2);
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    series: [{
                        name: '实时股价数据',
                        data: (function () {
                            // 生成随机值
                            var data = [],
                                time = (new Date()).getTime(),
                                i;
                            for (i = -19; i <= 0; i += 1) {
                                data.push({
                                    x: time + i * 1000*60,
                                    y: Math.random()
                                });
                            }
                            return data;
                        }())
                    }]
                });
            </script>
        </div>
{#      &***************************************************************************公司概况#}
        <div class="layui-tab-item">
            <div class="layui-fluid">
                <div class="company_title layui-row layui-col-space5" style="height: 100px;background: rgb(242,242,242)">
                      <div class="layui-col-md2">
                          <div style="text-align: center;font-size:25px;" id="shortname" class="content-item-data">公司简称</div>
                          <div style="text-align: center;font-size:18px;color: gray" id="code" class="content-item-data">证券号</div> </div>
                      <div class="layui-col-md1">
                          <div style="line-height: 100px;text-align: center">
                              <button type="button" class="layui-btn" id="add_button">
                                    <i class="layui-icon">&#xe608;</i> 添加
                              </button>
                          </div>
                      </div>
                      <div class="layui-col-md2">
                          <div class="layui-col-md8">
                                <div style="text-align: center" class="content-item-data"><span id="sub-trend-value" style="font-size: 30px;color: rgb(18,152,0);"></span></div>
                                <div style="text-align: center" class="content-item-data"><span id="time" style="font-size: 16px;color:gray;"></span></div>
                          </div>
                          <div class="layui-col-md4">
                                other
                          </div>
                      </div>
                      <div class="layui-col-md1"><div class="content-item-data">今开：<span id="todayopen"></span></div><div class="content-item-data">昨收：<span id="yesterdatclose"></span></div></div>
                      <div class="layui-col-md1"><div class="content-item-data">最高：<span id="maxx"></span></div><div class="content-item-data">最低：<span id="minn"></span></div></div>
                      <div class="layui-col-md2"><div class="content-item-data">成交量：<span id="dealaccount"></span></div><div class="content-item-data">成交额：<span id="dealmonney"></span></div></div>
                      <div class="layui-col-md1"><div class="content-item-data">振幅：<span id="zhenfu"></span></div><div class="content-item-data">换手：<span id="huanshou"></span></div></div>
                      <div class="layui-col-md1"><div class="content-item-data">市盈率：<span id="shiying"></span></div><div class="content-item-data">市净率：<span id="shijing"></span></div></div>
                      <div class="layui-col-md1"><div style="line-height: 50px;margin-left: 5px;">市龄:<span id="year"></span></div></div>
{#                      <div class="layui-col-md1">9</div>#}
                   </div>
                <script>
                        var oShortname=document.getElementById('shortname');
                        var oCode=document.getElementById('code');
                        var oAdd_button=document.getElementById('add_button');
                        var oSubtrendvalue=document.getElementById('sub-trend-value');
                        var oTime=document.getElementById('time');
                        var oTodayopen=document.getElementById('todayopen');
                        var oYesterdayclose=document.getElementById('yesterdatclose');
                        var oMaxx=document.getElementById('maxx');
                        var oMinn=document.getElementById('minn');
                        var oDealaccount=document.getElementById('dealaccount');
                        var oDealmonney=document.getElementById('dealmonney');
                        var oZhenfu=document.getElementById('zhenfu');
                        var oHuanshou=document.getElementById('huanshou');
                        var oShiying=document.getElementById('shiying');
                        var oShijing=document.getElementById('shijing');
                        var oYear=document.getElementById('year');
                        oAdd_button.onclick=function(){
                            if (getCookie("username") != 'false') {
                                alert("添加成功！"+getCookie("username"));
                            } else {
                                alert("请先登录！");
                                document.getElementById('btn_showlogin').onclick();
                            }

                        }
                        $.ajax({
                             type:'get',
                             url:'/company_gaikuang',
                             success:function (data) {
                                 var obj = JSON.parse(data);
                                 oShortname.innerText=obj["shortname"];
                                 oCode.innerText=obj["code"];
                                 oSubtrendvalue.innerText=obj["sub-trend-value"];
                                 oTime.innerText=obj["time"];
                                 oTodayopen.innerText=obj["todayopen"];
                                 oYesterdayclose.innerText=obj["yesterdatclose"];
                                 oMaxx.innerText=obj["maxx"];
                                 oMinn.innerText=obj["minn"];
                                 oDealaccount.innerText=obj["dealaccount"];
                                 oDealmonney.innerText=obj["dealmonney"];
                                 oZhenfu.innerText=obj["zhenfu"];
                                 oHuanshou.innerText=obj["huanshou"];
                                 oShiying.innerText=obj["shiying"];
                                 oShijing.innerText=obj["shijing"];
                                 oYear.innerText=obj["year"];
                                 console.log(obj);
                             }
                        });

                    </script>
                <table class="layui-table" lay-even style="margin-top: 50px;text-align: center">
                  <colgroup>
                    <col width="100">
                    <col width="400">
                    <col width="100">
                    <col width="400">
                  </colgroup>
                  <tbody>
                    <tr>
                      <td>成立日期</td>
                      <td id="birthday"></td>
                      <td>邮箱</td>
                      <td id="email"></td>
                    </tr>
                    <tr>
                      <td>上市日期</td>
                      <td id="marketday"></td>
                      <td>电话</td>
                      <td id="telephone"></td>
                    </tr>
                    <tr>
                      <td>官方网站</td>
                      <td id="website"></td>
                      <td>传真</td>
                      <td id="fax"></td>
                    </tr>
                    <tr>
                      <td>注册地址</td>
                      <td id="registeraddress"></td>
                      <td>办公地址</td>
                      <td id="workaddress"></td>
                    </tr>
                  </tbody>
                </table>
                <script>
                        var oBirthday=document.getElementById('birthday');
                        var oEmail=document.getElementById('email');
                        var oMarketday=document.getElementById('marketday');
                        var oTelephone=document.getElementById('telephone');
                        var oWebsite=document.getElementById('website');
                        var oFax=document.getElementById('fax');
                        var oRegisteraddress=document.getElementById('registeraddress');
                        var oWorkaddress=document.getElementById('workaddress');
                        $.ajax({
                             type:'get',
                             url:'/company_gaikuang',
                             success:function (data) {
                                 var obj = JSON.parse(data);
                                 oBirthday.innerText=obj["birthday"];
                                 oEmail.innerText=obj["email"];
                                 oMarketday.innerText=obj["marketday"];
                                 oTelephone.innerText=obj["telephone"];
                                 oWebsite.innerText=obj["website"];
                                 oFax.innerText=obj["fax"];
                                 oRegisteraddress.innerText=obj["registeraddress"];
                                 oWorkaddress.innerText=obj["workaddress"];

                                 console.log(obj);
                             }
                        });
                </script>
            </div>
        </div>
{#      ****************************************************************************公司高管#}
        <div class="layui-tab-item">
            <div class="layui-fluid">
                <table class="layui-table" lay-even style="margin-top: 50px;text-align: center" >
                  <colgroup>
                    <col width="100">
                    <col width="400">
                    <col width="100">
                    <col width="400">
                  </colgroup>
                  <tbody>
                    <tr>
                      <td>董事长</td>
                      <td id="chairman"></td>
                      <td>总经理</td>
                      <td id="generalmanager"></td>
                    </tr>
                    <tr>
                      <td>财务总监</td>
                      <td id="financialofficer"></td>
                      <td>董事会秘书</td>
                      <td id="secretary"></td>
                    </tr>
                    <tr>
                      <td>董事会成员</td>
                      <td id="member" colspan="3"></td>
                    </tr>
                  </tbody>
                </table>
                <script>
                        var ochairman=document.getElementById('chairman');
                        var ogeneralmanager=document.getElementById('generalmanager');
                        var ofinancialofficer=document.getElementById('financialofficer');
                        var osecretary=document.getElementById('secretary');
                        var omember=document.getElementById('member');
                        $.ajax({
                             type:'get',
                             url:'/company_gaikuang',
                             success:function (data) {
                                 var obj = JSON.parse(data);
                                 ochairman.innerText=obj["chairman"];
                                 ogeneralmanager.innerText=obj["generalmanager"];
                                 ofinancialofficer.innerText=obj["financialofficer"];
                                 osecretary.innerText=obj["secretary"];
                                 omember.innerText=obj["member"];
                                 console.log(obj);
                             }
                        });
                </script>
            </div>
        </div>
{#      ****************************************************************************股份结构#}
        <div class="layui-tab-item">
            <div class="layui-fluid" style="text-align: center;">
                 <table id="shares_struct"  lay-filter="shares_struct" style="text-align: center;"></table>
             </div>
            <script>
                layui.use('table', function(){
                var table = layui.table;
                table.render({
                    elem: '#shares_struct',
                    width:1000,
                    url:'/get_sharesstruct_table',
                    {#page:true,#}
                    cols: [[ //表头
                              {field: 'change_date', title: '变动日期',width:200,sort:true,align:'center'},
                              {field: 'change_reason', title: '变动原因',width:200,align:'center'},
                              {field: 'total_shares', title: '总股数(万股)',width:200,sort:true,align:'center'},
                              {field: 'liutong_shares', title: '已流通股份(万股)',width:200,sort:true,align:'center'},
                              {field: 'limite_shares', title: '流通受限股份(万股)',width:200,sort:true,align:'center'},
                            ]]
                })
            });
            </script>
        </div>
{#      ****************************************************************************十大股东#}
        <div class="layui-tab-item">
             <div class="layui-fluid" style="text-align: center;">
                 <table id="top10_member"  lay-filter="top10_member" ></table>
             </div>
            <script>
                layui.use('table', function(){
                var table = layui.table;
                table.render({
                    elem: '#top10_member',
                    width:800,
                    url:'/get_top10member_table',
                    {#page:true,#}
                    cols: [[ //表头
                              {field: 'ranking', title: '股东名次',width:100,align:'center'},
                              {field: 'membertname', title: '股东名称',width:400,align:'center'},
                              {field: 'sharehold_num', title: '持股数量(万股)',width:100,align:'center'},
                              {field: 'sharehold_pro', title: '持股比例(%)',width:100,align:'center'},
                              {field: 'nature', title: '股份性质',width:100,align:'center'},
                            ]]
                })
            });
            </script>
        </div>
{#      ****************************************************************************财务报表#}
        <div class="layui-tab-item"></div>
{#      **********************************************************************财务分析#}
        <div class="layui-tab-item">
            <div id="caiwufenxi" class="content-item"></div>
            <script type="text/javascript">
                var dom = document.getElementById("caiwufenxi");
                var myChart = echarts.init(dom);
                var app = {};
                option = null;
                app.title = '折柱混合';

                option = {
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'cross',
                            crossStyle: {
                                color: '#999'
                            }
                        }
                    },
                    toolbox: {
                        feature: {
                            dataView: {show: true, readOnly: false},
                            magicType: {show: true, type: ['line', 'bar']},
                            restore: {show: true},
                            saveAsImage: {show: true}
                        }
                    },
                    legend: {
                        data:['营业收入','营业利润','营业利润总额','总资产增长率','净资产收益率','资产负债率']
                    },
                    xAxis: [
                        {
                            type: 'category',
                            data: ['季度1','季度2','季度3','季度4','季度5','季度6','季度7','季度8','季度9','季度10','季度11','季度12'],
                            axisPointer: {
                                type: 'shadow'
                            }
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            name: '利润',
                            min: 0,
                            max: 250,
                            interval: 50,
                            axisLabel: {
                                formatter: '{value} 万元'
                            }
                        },
                        {
                            type: 'value',
                            name: '百分率',
                            min: 0,
                            max: 100,
                            interval: 20,
                            axisLabel: {
                                formatter: '{value}%'
                            }
                        }
                    ],
                    series: [
                        {
                            name:'营业收入',
                            type:'bar',
                            data:[2.0, 4.9, 7.0, 23.2, 25.6, 76.7, 135.6, 162.2, 32.6, 20.0, 6.4, 3.3]
                        },
                        {
                            name:'营业利润',
                            type:'bar',
                            data:[2.6, 5.9, 9.0, 26.4, 28.7, 70.7, 175.6, 182.2, 48.7, 18.8, 6.0, 2.3]
                        },
                        {
                            name:'营业利润总额',
                            type:'bar',
                            data:[2.0, 2.2, 3.3, 4.5, 6.3, 10.2, 20.3, 23.4, 23.0, 16.5, 12.0, 6.2]
                        },
                        {
                            name:'总资产增长率',
                            type:'line',
                            yAxisIndex: 1,
                            data:[2.3, 2.5, 3.4, 4.9, 6.1, 20.7, 20.5, 23.7, 23.2, 16.4, 12.9, 6.7]
                        },
                        {
                            name:'净资产收益率',
                            type:'line',
                            yAxisIndex: 1,
                            data:[5, 6, 7, 8, 11, 60.2, 20.3, 23.4, 23.0, 16.5, 12.0, 6.2]
                        },
                        {
                            name:'资产负债率',
                            type:'line',
                            yAxisIndex: 1,
                            data:[2.3, 2.4, 3.5, 4.6, 6.7, 47.8, 20.4, 23.1, 23.5, 16.3, 12.5, 6.6]
                        }
                    ]
                };
                ;
                if (option && typeof option === "object") {
                    myChart.setOption(option, true);
                }
           </script>
        </div>
{#      **********************************************************************主营构成#}
        <div class="layui-tab-item">
            <div class="content-item">
                <div id="zhuyinggoucheng1" style="width: 500px;height: 580px;float: left;"></div>
                <script type="text/javascript">
                var dom = document.getElementById("zhuyinggoucheng1");
                // var myChart = echarts.init(dom);
                var myChart = echarts.init(dom,null,{ renderer : 'svg' });
                var app = {};
                option = null;
                app.title = '收入构成饼图';

                option = {
                    title: {
                        text: '收入构成饼图',
                        left: 'center'
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: "{a} <br/>{b}: {c} ({d}%)"
                    },
                    legend: {
                        orient: 'vertical',
                        x: 'left',
                        data:['产品1','产品2','产品3','产品4','产品5']
                    },
                    series: [
                        {
                            name:'访问来源',
                            type:'pie',
                            radius: ['50%', '70%'],
                            avoidLabelOverlap: false,
                            label: {
                                normal: {
                                    show: false,
                                    position: 'center'
                                },
                                emphasis: {
                                    show: true,
                                    textStyle: {
                                        fontSize: '30',
                                        fontWeight: 'bold'
                                    }
                                }
                            },
                            labelLine: {
                                normal: {
                                    show: false
                                }
                            },
                            data:[
                                {value:335, name:'产品1'},
                                {value:310, name:'产品2'},
                                {value:234, name:'产品3'},
                                {value:135, name:'产品4'},
                                {value:1548, name:'产品5'}
                            ]
                        }
                    ]
                };
                ;
                if (option && typeof option === "object") {
                    myChart.setOption(option, true);
                }
       </script>
                <div id="zhuyinggoucheng2" style="width: 500px;height: 580px;float: right;"></div>
                <script type="text/javascript">
                var dom = document.getElementById("zhuyinggoucheng2");
                // var myChart = echarts.init(dom);
                var myChart = echarts.init(dom,null,{ renderer : 'svg' });
                var app = {};
                option = null;
                app.title = '利润构成饼图';

                option = {
                    title: {
                        text: '利润构成饼图',
                        left: 'center'
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: "{a} <br/>{b}: {c} ({d}%)"
                    },
                    legend: {
                        orient: 'vertical',
                        x: 'left',
                        data:['产品1','产品2','产品3','产品4','产品5']
                    },
                    series: [
                        {
                            name:'访问来源',
                            type:'pie',
                            radius: ['50%', '70%'],
                            avoidLabelOverlap: false,
                            label: {
                                normal: {
                                    show: false,
                                    position: 'center'
                                },
                                emphasis: {
                                    show: true,
                                    textStyle: {
                                        fontSize: '30',
                                        fontWeight: 'bold'
                                    }
                                }
                            },
                            labelLine: {
                                normal: {
                                    show: false
                                }
                            },
                            data:[
                                {value:335, name:'产品1'},
                                {value:310, name:'产品2'},
                                {value:234, name:'产品3'},
                                {value:135, name:'产品4'},
                                {value:1548, name:'产品5'}
                            ]
                        }
                    ]
                };
                ;
                if (option && typeof option === "object") {
                    myChart.setOption(option, true);
                }
       </script>
            </div>

        </div>
  </div>
</div>


    <nav>
    <div class="menubar">
      <a href="index1" class="home"> </a>
      <div>
          <form onSubmit="submitFn(this, event);">
                <div class="search-wrapper active">
                    <div class="input-holder">
                        <input type="text" class="search-input" placeholder="请输入关键词（代码/高管/关键字..）" />
                        <button class="search-icon" onClick="searchToggle(this, event);"><span></span></button>
                    </div>
                    <span class="close" onClick="searchToggle(this, event);"></span>
                    <div class="result-container">

                    </div>
                </div>
          </form>


      </div>
      <div class="icons">
        <div class="secondary-icons">
{#          <i class="icon-second"><img src="../static/img/icon-198.svg"></i>#}
          <i class="icon-second" id="btn_showlogin"><img src="../static/img/icon-171.svg"></i>
        </div>

        <i class="icon-menu"><span></span></i>
      </div>
    </div>
    <ul class="menu">
      <li class="menu-link"><a href="#0" class="text-item">About Us</a></li>
      <li class="menu-link sub">
        <a href="#0" class="text-item">Our Members<span class="icon"></span></a>
        <ul class="submenu">
          <li class="sub-item"><a href="#0">Mr.Yang</a></li>
          <li class="sub-item"><a href="#0">Mr.He</a></li>
          <li class="sub-item"><a href="#0">Ms.Liu</a></li>
          <li class="sub-item"><a href="#0">Ms.Guo</a></li>
        </ul>
      </li>
      <li class="menu-link sub">
        <a href="#0" class="text-item">Our Services<span class="icon"></span></a>
        <ul class="submenu">
          <li class="sub-item"><a href="#0">Print Design</a></li>
          <li class="sub-item"><a href="#0">Web Design</a></li>
          <li class="sub-item"><a href="#0">Mobile App Development</a></li>
          <li class="sub-item"><a href="#0">UI Design</a></li>
        </ul>
      </li>
      <li class="menu-link sub">
          <a href="#0" class="text-item">联系我们<span class="icon"></span></a>
          <ul class="submenu">
              <li class="sub-item"><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=841219366&amp;site=qq&amp;menu=yes" target="_blank" title="QQ">Mr.Yang</a></li>
              <li class="sub-item"><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=591468224&amp;site=qq&amp;menu=yes" target="_blank" title="QQ">Mr.He</a></li>

          </ul>
      </li>
    </ul>
  </nav>

  <!-- 弹出登录窗口 -->
  <div class="mini_login">
    <form class="form-horizontal" id="login_form" method="POST" action="#">
      <p id="close_minilogin">X</p>
      <div class="heading">Welcome</div>
      <div class="form-group">
        <i id="uimg"></i>
        <input name="username" id="username" type="text" class="form-control" placeholder="E-mail" />
        <p class="usrerrformat err">Please enter the correct email format!</p>
        <p class="usrerrempty err">Username cannot be empty!</p>
      </div>
      <div class="form-group">
        <i id="pimg"></i>
        <input name="password" id="password" type="password" class="form-control" placeholder="Password" />
        <p class="paserr err">Password cannot be empty!</p>
      </div>
      <div class="form-group">
        <button type="button" onclick="signin()" class="btn btn-default" ><i>Sign in</i></button>
        <span>Don't have an account? <a href="#" class="create_account" id="showSignup">Sign up</a></span><br>
        <span>Forget your password? <a href="#" class="create_account" id="showFindpass">Find back your
            password</a></span>
      </div>
    </form>
  </div>
  <!-- 弹出注册窗口 -->
  <div class="mini_signup">
    <form class="form-horizontal" id="signup_form" method="POST" action="#">
      <p id="close_minisignup">X</p>
      <div class="heading">Welcome</div>
      <div class="form-group">
        <i id="uimg"></i>
        <input name="username" id="username_signup" type="text" class="form-control" placeholder="E-mail" />
        <p class="usrerrformat err">Please enter the correct email format!</p>
        <p class="usrerrempty err">Username cannot be empty!</p>
      </div>
      <div class="form-group">
        <i id="pimg"></i>
        <input name="password" id="password_signup" type="password" class="form-control" placeholder="Password" />
        <p class="paserr err">Password cannot be empty!</p>
        <p class="paserr err">Password must be between 6 and 12 digits!</p>
      </div>
      <div class="form-group">
        <i id="pimg"></i>
        <input name="password" id="repassword_signup" type="password" class="form-control"
          placeholder="Confirm password" />
        <p class="repaserr err">Passwords are inconsistent!</p>
      </div>
      <div class="form-group">
        <i id="eimg"></i>
        <input name="VerificationCode" id="VerificationCode" type="text" class="form-control VC"
          placeholder="Enter Code" />
        <input type="button" value="SendCode" class="orange" onclick="sendCode()" />
        <p class="ecode err">Verification Code cannot be empty!</p>
      </div>

      <div class="form-group">
        <button type="button" class="btn btn-default" onclick="signup()"><i>Sign up</i></button>
        <span>Already have an account? <a href="#" class="create_account" id="showSignin1">Sign in</a></span>
      </div>
    </form>
  </div>
  <!-- 弹出find password窗口 -->
  <div class="mini_findpass">
    <form class="form-horizontal" id="findpass_form" method="POST" action="#">
      <p id="close_findpass">X</p>
      <div class="heading">Welcome</div>
      <div class="form-group">
        <i id="uimg"></i>
        <input name="username" id="username_findpass" type="text" class="form-control" placeholder="E-mail" />
        <p class="usrerrformat err">Please enter the correct email format!</p>
        <p class="usrerrempty err">Username cannot be empty!</p>
      </div>

      <div class="form-group">
        <i id="eimg"></i>
        <input name="VerificationCode" id="VerificationCode1" type="text" class="form-control VC"
          placeholder="Enter Code" />
        <input type="button" value="SendCode" class="orange" onclick="sendCode1()" />
        <p class="ecode err">Verification Code cannot be empty!</p>
      </div>

      <div class="form-group">
        <i id="pimg"></i>
        <input name="password" id="password_findback" type="password" class="form-control" placeholder="Password" />
        <p class="paserr err">Password cannot be empty!</p>
        <p class="paserr err">Password must be between 6 and 12 digits!</p>
      </div>
      <div class="form-group">
        <i id="pimg"></i>
        <input name="password" id="repassword_findback" type="password" class="form-control"
          placeholder="Confirm password" />
        <p class="repaserr err">Passwords are inconsistent!</p>
      </div>

      <div class="form-group">
        <button type="button" class="btn btn-default" onclick="findbackpass()"><i>Submit</i></button>
        <span>Already have an account? <a href="#" class="create_account" id="showSignin2">Sign in</a></span>
      </div>
    </form>
  </div>
  <div class="cover"></div>
    <script src="../static/script/script.js"></script>
<script type="text/javascript" src="../static/script/login.js"></script>

</body>
</html>