<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>快发A股资讯</title>
    <script src="../static/script/jquery-3.3.1.min.js"></script>
    <script src="../static/script/move++.js"></script>
    <link rel="stylesheet" href="../static/layui/css/layui.css" media="all">
    <script src="../static/layui/layui.js"></script>
    <script src="../static/script/cookie.js"></script>
    <link rel="stylesheet" href="../static/styles/login.css">
    <link rel="stylesheet" href="../static/styles/index1.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/search-form.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-gl/dist/echarts-gl.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-stat/dist/ecStat.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/dataTool.min.js"></script>


    <script src="https://code.highcharts.com.cn/highcharts/highcharts.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts/modules/exporting.js"></script>
    <script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
{#    <script src="https://code.highcharts.com.cn/highcharts/themes/dark-unica.js"></script>#}
<script>
    window.onload=function () {
            var stock_code = GetRequest();
            var data = {data: JSON.stringify({"value":stock_code})}
            if(stock_code[0]=='0' || stock_code[0]=='3'){
                stock_code='sz'+stock_code
            }
            else {
                stock_code='sh'+stock_code
            }
            {#alert(stock_code)#}
            if (getCookie("username")!='false') {
                    get_usrimg();
                }



{#**************************************************K线图*************************************************#}
            $.ajax({
            type:'POST',
            data:data,
            url:'/getK',
            success:function (data) {
                var obj = JSON.parse(data);
                {#alert(obj)#}
                 var dom = document.getElementById("hangqingzoushi");
        var myChart = echarts.init(dom);
        var app = {};
        option = null;
        app.title = '2015 年上证指数';

        var rawData = obj.reverse();

        function calculateMA(dayCount, data) {
            var result = [];
            for (var i = 0, len = data.length; i < len; i++) {
                if (i < dayCount) {
                    result.push('-');
                    continue;
                }
                var sum = 0;
                for (var j = 0; j < dayCount; j++) {
                    sum += data[i - j][1];
                }
                result.push(sum / dayCount);
            }
            return result;
        }


        var dates = rawData.map(function (item) {
            return item[0];
        });

        var data = rawData.map(function (item) {
            return [+item[1], +item[2], +item[5], +item[6]];
        });
        var option = {
            backgroundColor: '#21202D',
            legend: {
                data: ['日K', 'MA5', 'MA10', 'MA40', 'MA30'],
                inactiveColor: '#777',
                textStyle: {
                    color: '#fff'
                }
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    animation: false,
                    type: 'cross',
                    lineStyle: {
                        color: '#376df4',
                        width: 2,
                        opacity: 1
                    }
                }
            },
            xAxis: {
                type: 'category',
                data: dates,
                axisLine: {
                    lineStyle: {
                        color: '#8392A5'
                    }
                }
            },
            yAxis: {
                scale: true,
                axisLine: {
                    lineStyle: {
                        color: '#8392A5'
                    }
                },
                splitLine: {
                    show: false
                }
            },
            grid: {
                bottom: 80
            },
            dataZoom: [{
                textStyle: {
                    color: '#8392A5'
                },
                handleIcon: 'M10.7,11.9v-1.3H9.3v1.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4v1.3h1.3v-1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7V23h6.6V24.4z M13.3,19.6H6.7v-1.4h6.6V19.6z',
                handleSize: '80%',
                dataBackground: {
                    areaStyle: {
                        color: '#8392A5'
                    },
                    lineStyle: {
                        opacity: 0.8,
                        color: '#8392A5'
                    }
                },
                handleStyle: {
                    color: '#fff',
                    shadowBlur: 3,
                    shadowColor: 'rgba(0, 0, 0, 0.6)',
                    shadowOffsetX: 2,
                    shadowOffsetY: 2
                }
            }, {
                type: 'inside'
            }],
            animation: false,
            series: [{
                    type: 'candlestick',
                    name: '日K',
                    data: data,
                    itemStyle: {
                        normal: {
                            color: '#FD1050',
                            color0: '#0CF49B',
                            borderColor: '#FD1050',
                            borderColor0: '#0CF49B'
                        }
                    }
                },
                {
                    name: 'MA5',
                    type: 'line',
                    data: calculateMA(5, data),
                    smooth: true,
                    showSymbol: false,
                    lineStyle: {
                        normal: {
                            width: 1
                        }
                    }
                },
                {
                    name: 'MA10',
                    type: 'line',
                    data: calculateMA(10, data),
                    smooth: true,
                    showSymbol: false,
                    lineStyle: {
                        normal: {
                            width: 1
                        }
                    }
                },
                {
                    name: 'MA40',
                    type: 'line',
                    data: calculateMA(20, data),
                    smooth: true,
                    showSymbol: false,
                    lineStyle: {
                        normal: {
                            width: 1
                        }
                    }
                },
                {
                    name: 'MA30',
                    type: 'line',
                    data: calculateMA(30, data),
                    smooth: true,
                    showSymbol: false,
                    lineStyle: {
                        normal: {
                            width: 1
                        }
                    }
                }
            ]
        };;
        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }

                {#console.log(obj);#}
            }
       });

            {#***************************************************************公司概况js*********************************#}
                        var oShortname=document.getElementById('shortname');
                        var oCode=document.getElementById('code');
                        var oAdd_button=document.getElementById('add_button');
                        var oSubtrendvalue=document.getElementById('sub-trend-value');
                        var oTime=document.getElementById('time');
                        var oTodayopen=document.getElementById('todayopen');
                        var oYesterdayclose=document.getElementById('yesterdatclose');
                        var oMaxx=document.getElementById('maxx');
                        var oMinn=document.getElementById('minn');
                        var oDealaccount=document.getElementById('dealaccount');
                        var oDealmonney=document.getElementById('dealmonney');
                        var oZhangdiee=document.getElementById('zhangdiee');
                        var oZhangdiefu=document.getElementById('zhangdiefu');
                        var oZongshizhi=document.getElementById('zongshizhi');
                        var oLiutongshizhi=document.getElementById('liutongshizhi');
                        var oHuanshou=document.getElementById('huanshou');
                        oAdd_button.onclick=function(){
                            if (getCookie("username") != 'false') {
                                var data = JSON.stringify({"collect":oCode.innerText,"username":getCookie("username")});
                                $.ajax({
                                 type: "post",
                                 url: "http://148.70.200.102:11250/user/collect",
                                 async: true,
                                 contentType: 'application/json',
                                 dataType: 'JSON',
                                 xhrFields: {withCredentials: false},
                                 crossDomain: true,
                                 data:data,//将对象转为json字符串
                                 success: function(data) {
                                     if(data.tag=='success'){
                                         alert("添加成功！");
                                     }
                                     else if(data.tag=='repeat'){
                                         alert("您已添加，请勿重复！");
                                     }
                                 }
                             });



                            } else {
                                alert("请先登录！");
                                document.getElementById('btn_showlogin').onclick();
                            }

                        }


                        var oBirthday=document.getElementById('birthday');
                        var oEmail=document.getElementById('email');
                        var oMarketday=document.getElementById('marketday');
                        var oTelephone=document.getElementById('telephone');
                        var oWebsite=document.getElementById('website');
                        var oFax=document.getElementById('fax');
                        var oRegisteraddress=document.getElementById('registeraddress');
                        var oWorkaddress=document.getElementById('workaddress');
                        var oZhangdielv=document.getElementById('zhangdielv');
                        var oMinute=document.getElementById('minunte');
                        function getdata_minute(){
                            {#alert("访问接口成功");#}
                            $.ajax({
                                type:'GET',
                                dataType:"script",
                                cache:"false",
                                url:'http://hq.sinajs.cn/list=s_'+stock_code,
                             success:function (a) {
                                 var data=eval("hq_str_s_"+stock_code);
                                 {#alert(data);#}
                                 var obj=data.split(',');
                                 {#alert(obj[3]);#}

                                 if(obj[3][0]=='-'){
                                    oZhangdielv.innerText=obj[3]+'%';
                                    oZhangdielv.classList.add("die");
                                    oSubtrendvalue.innerText=obj[1]+'↓';
                                    oSubtrendvalue.classList.add("die");
                                 }
                                 else{
                                    oZhangdielv.innerText=obj[3]+'%';
                                    oZhangdielv.classList.add("zhang");
                                    oSubtrendvalue.innerText=obj[1]+'↑';
                                    oSubtrendvalue.classList.add("zhang");
                                 }
                                 console.log(obj);
                             }
                        });
                        }
                        {#***************************************************************每分钟请求数据获取实施股价#}
                        getdata_minute();
                        setInterval(getdata_minute,60000);
                        $.ajax({
                            type:'GET',
                            dataType:"script",
                            cache:"false",
                             url:'http://hq.sinajs.cn/list='+stock_code,
                             success:function (data) {
                                var data=eval("hq_str_"+stock_code);
                                 {#alert(data);#}
                                 var obj=data.split(',');
                                 oShortname.innerText=obj[0];
                                 oCode.innerText=stock_code;

                                 oTime.innerText=obj[30];
                                 oTodayopen.innerText=obj[1];
                                 oYesterdayclose.innerText=obj[2];
                                 oMaxx.innerText=obj[4];
                                 oMinn.innerText=obj[5];
                                 oDealaccount.innerText=(parseInt(obj[8])/10000).toFixed(3).toString()+"万";
                                 oDealmonney.innerText=(parseInt(obj[9])/10000).toFixed(3).toString()+"万元";

                                 var date = new Date();
                                 var hour = date.getHours();
                                 var minute = date.getMinutes().toString().padStart(2,'0');

                                 oMinute.innerText=hour+':'+minute;
                                 console.log(obj);
                             }
                        });
                        $.ajax({
                            type:'POST',
                            data:data,
                            url:'/company_gaikuang',
                            success:function (data) {
                                var obj=JSON.parse(data)
                                oZhangdiee.innerText=obj["zhangdiee"];
                                 oZhangdiefu.innerText=obj["zhangdiefu"]+"%";
                                 oZongshizhi.innerText=obj["zongshizhi"]+"亿";
                                 oLiutongshizhi.innerText=obj["liutongshizhi"]+"亿";
                                 oHuanshou.innerText=obj["huanshou"]+"%";

                                 oBirthday.innerText=obj["birthday"];
                                 oEmail.innerText=obj["email"];
                                 oMarketday.innerText=obj["marketday"];
                                 oTelephone.innerText=obj["telephone"];
                                 oWebsite.innerText=obj["website"];
                                 oFax.innerText=obj["fax"];
                                 oRegisteraddress.innerText=obj["registeraddress"];
                                 oWorkaddress.innerText=obj["workaddress"];
                            }
                        });

        {#***************************************************************公司高管js*********************************#}
                        var ochairman=document.getElementById('chairman');
                        var ogeneralmanager=document.getElementById('generalmanager');
                        var ofinancialofficer=document.getElementById('financialofficer');
                        var osecretary=document.getElementById('secretary');
                        var omember=document.getElementById('member');
                        {#var data = {data: JSON.stringify({"value":stock_code})}#}
                        $.ajax({
                             type:'POST',
                             data:data,
                             url:'/company_gaikuang',
                             success:function (data) {
                                 var obj = JSON.parse(data);
                                 ochairman.innerText=obj["chairman"];
                                 ogeneralmanager.innerText=obj["generalmanager"];
                                 ofinancialofficer.innerText=obj["financialofficer"];
                                 osecretary.innerText=obj["secretary"];
                                 omember.innerText=obj["member"];
                                 console.log(obj);
                             }
                        });
        {#***************************************************************股份结构js*********************************#}
                layui.use('table', function(){
                var table = layui.table;
                table.render({
                    method:'POST',
                    elem: '#shares_struct',
                    width:1000,
                    where:data,
                    url:'/get_sharesstruct_table',
                    {#page:true,#}
                    cols: [[ //表头
                              {field: 'change_date', title: '变动日期',width:200,sort:true,align:'center'},
                              {field: 'change_reason', title: '变动原因',width:200,align:'center'},
                              {field: 'total_shares', title: '总股数(万股)',width:200,sort:true,align:'center'},
                              {field: 'liutong_shares', title: '已流通股份(万股)',width:200,sort:true,align:'center'},
                              {field: 'limite_shares', title: '流通受限股份(万股)',width:200,sort:true,align:'center'},
                            ]]
                })
            });

         {#***************************************************************十大股东*********************************#}
                    var aDatetypes=document.getElementsByClassName('datetypes');
                        $.ajax({
                             type:'POST',
                             data:data,
                             url:'/get_datetype',
                             success:function (data) {
                                 var obj = JSON.parse(data);
                                 aDatetypes[0].innerText=obj[0];
                                 aDatetypes[1].innerText=obj[1];
                                 aDatetypes[2].innerText=obj[2];
                                 aDatetypes[3].innerText=obj[3];
                                 aDatetypes[4].innerText=obj[4];
                                 aDatetypes[0].click();
                                 console.log(obj);
                             }
                        });
         {#***************************************************************财务分析*********************************#}
                        layui.use('element', function(){
          var element = layui.element;

          //一些事件监听
          element.on('tab(caiwufenxi)', function(data){
            {#alert(this.innerText[0]);#}
            var stock_code = GetRequest();
            var data1 = {data: JSON.stringify({"code":stock_code,"season":this.innerText[0]})}
            $.ajax({
                type:'POST',
                data:data1,
                url:'/get_caiwufengxi_data',
                success:function (data) {
                    var obj = JSON.parse(data);
                    console.log(obj);
                    for(var i=0;i< obj[4].length;i++){
                        obj[4][i]=obj[4][i]/10;
                    }
                    for(var i=0;i< obj[5].length;i++){
                        obj[5][i]=obj[5][i]/10;
                    }

                    var dom = document.getElementById("caiwufenxi");
                    var myChart = echarts.init(dom);
                    var app = {};
                    option = null;
                    app.title = '折柱混合';

                    option = {
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {
                                type: 'cross',
                                crossStyle: {
                                    color: '#999'
                                }
                            }
                        },
                        toolbox: {
                            feature: {
                                dataView: {show: true, readOnly: false},
                                magicType: {show: true, type: ['line', 'bar']},
                                restore: {show: true},
                                saveAsImage: {show: true}
                            }
                        },
                        legend: {
                            data:obj[0]
                        },
                        xAxis: [
                            {
                                type: 'category',
                                data: ['2010','2011','2012','2013','2014','2015','2016','2017','2018','2019'],
                                axisPointer: {
                                    type: 'shadow'
                                }
                            }
                        ],
                        yAxis: [
                            {
                                type: 'value',
                                name: '金额',
                                {#min: -100,#}
                                {#max: 250,#}
                                {#interval: 100,#}
                                axisLabel: {
                                    formatter: '{value} 百万元'
                                }
                            },
                            {
                                type: 'value',
                                name: '金额（总资产&总负债）',
                                {#min: -20,#}
                                {#max: 100,#}
                                {#interval: 20,#}
                                axisLabel: {
                                    formatter: '{value}千万元'
                                }
                            }
                        ],
                        series: [
                            {
                                name:'营业收入',
                                type:'bar',
                                data:obj[1]
                            },
                            {
                                name:'营业利润',
                                type:'bar',
                                data:obj[2]
                            },
                            {
                                name:'利润总额',
                                type:'bar',
                                data:obj[3]
                            },
                            {
                                name:'总资产',
                                type:'line',
                                yAxisIndex: 1,
                                data:obj[4]
                            },
                            {
                                name:'总负债',
                                type:'line',
                                yAxisIndex: 1,
                                data:obj[5]
                            },
                            {
                                name:'经营活动产生的现金流量净额',
                                type:'line',
                                {#yAxisIndex: 1,#}
                                data:obj[6]
                            },
                            {
                                name:'投资活动产生的现金流量净额',
                                type:'line',
                                {#yAxisIndex: 1,#}
                                data:obj[7]
                            },
                            {
                                name:'筹资活动产生的现金流量净额',
                                type:'line',
                                {#yAxisIndex: 1,#}
                                data:obj[8]
                            }
                        ]
                    };
                    ;
                    if (option && typeof option === "object") {
                        myChart.setOption(option, true);
                    }


                }
            });

          });
        });
                        var oSeason=document.getElementById('season1');
                        oSeason.click();
        }

    function get_usrimg() {
            var data1 = {data: JSON.stringify({"username":getCookie("username"),"handle":"get"})};
            $.ajax({
                type: 'post',
                url: '/upload',
                data:data1,
                success:function (data) {
                    data=data.slice(1,-1);
                    console.log(data);
                    var img = document.createElement('img');//创建一个标签
                      img.setAttribute('src','data:image/png;base64,'+data);
                      document.getElementById('btn_showlogin').innerHTML="";
                      document.getElementById('btn_showlogin').appendChild(img);
                }
            });
        }

    function GetRequest() {
            var url = location.search; //获取url中"?"符后的字串
            var id=url.split('=')[1]
            return id;
        }



</script>

{#   *********************************************************** 搜索框js#}
    <script>
       function searchToggle(obj, evt){
                var container = $(obj).closest('.search-wrapper');

                if(!container.hasClass('active')){
                      container.addClass('active');
                      evt.preventDefault();
                }
                else if(container.hasClass('active') && $(obj).closest('.input-holder').length == 0){
                      container.removeClass('active');
                      // clear input
                      container.find('.search-input').val('');
                      // clear and hide result container when we press close
                      container.find('.result-container').fadeOut(100, function(){$(this).empty();});
                }
            }

       function submitFn(obj, evt){
                value = $(obj).find('.search-input').val().trim();
                if(!value.length){
                    alert("关键词不能为空!");
                }
                else{
                    var link="details"+"?keyword="+value;
                    window.location.href=link;
                    {#search_req(value);#}
                }
                evt.preventDefault();
            }
</script>

<style>
        .company_data{
            position: absolute;
            width: 90%;
            left: 5%;
            top: 100px;
        }

        .content-item{
            width:1300px;height:580px;margin: auto;
            position: relative;
        }

         .content-item-data{
             height: 50px;
             line-height: 50px;
             text-align: left;
         }

         .die{
             color: rgb(18,152,0);
         }

         .zhang{
             color: rgb(254,0,0);
         }
</style>
</head>
<body>
<script>
    layui.use('element', function(){
      var element = layui.element;

      //一些事件监听
      element.on('tab(company_data)', function(data){
        console.log(data);
      });
    });
</script>

<div class="layui-tab layui-tab-brief company_data" lay-filter="company_data">
    <div class="company_title layui-row layui-col-space5" style="height: 100px;background: rgb(242,242,242)">
                      <div class="layui-col-md2">
                          <div style="text-align: center;font-size:25px;" id="shortname" class="content-item-data">公司简称</div>
                          <div style="text-align: center;font-size:18px;color: gray" id="code" class="content-item-data">证券号</div> </div>
                      <div class="layui-col-md1">
                          <div style="line-height: 100px;text-align: center">
                              <button type="button" class="layui-btn" id="add_button">
                                    <i class="layui-icon">&#xe608;</i> 添加
                              </button>
                          </div>
                      </div>
                      <div class="layui-col-md2">
                          <div class="layui-col-md8">
                                <div style="text-align: center" class="content-item-data"><span id="sub-trend-value" style="font-size: 30px;"></span></div>
                                <div style="text-align: center" class="content-item-data"><span id="time" style="font-size: 16px;color:gray;"></span></div>
                          </div>
                          <div class="layui-col-md4">
                                <div class="layui-col-md1">
                                    <div class="content-item-data"><span id="zhangdielv" style="font-size: 20px;"></span></div>
                                    <div class="content-item-data"><span id="minunte" style="font-size: 16px;color:gray;"></span></div>
                                </div>
                          </div>
                      </div>
                      <div class="layui-col-md1"><div class="content-item-data">今开：<span id="todayopen"></span></div><div class="content-item-data">昨收：<span id="yesterdatclose"></span></div></div>
                      <div class="layui-col-md1"><div class="content-item-data">最高：<span id="maxx"></span></div><div class="content-item-data">最低：<span id="minn"></span></div></div>
                      <div class="layui-col-md3">
                          <div class="layui-col-md6"><div class="content-item-data">成交量：<span id="dealaccount"></span></div><div class="content-item-data">成交额：<span id="dealmonney"></span></div></div>
                          <div class="layui-col-md6"><div class="content-item-data">总市值：<span id="zongshizhi"></span></div><div class="content-item-data">流通市值：<span id="liutongshizhi"></span></div></div>
                      </div>
                      <div class="layui-col-md1"><div class="content-item-data">涨跌额：<span id="zhangdiee"></span></div><div class="content-item-data">涨跌幅：<span id="zhangdiefu"></span></div></div>
                      <div class="layui-col-md1"><div style="line-height: 50px;margin-left: 5px;">换手率:<span id="huanshou"></span></div></div>
{#                      <div class="layui-col-md1">9</div>#}
                   </div>
  <ul class="layui-tab-title" style="margin-top: 20px">
    <li class="layui-this">行情走势</li>
    <li>公司概况</li>
    <li>公司高管</li>
    <li>股份结构</li>
    <li>十大股东</li>
{#    <li>财务报表</li>#}
    <li>财务分析</li>
{#    <li>主营构成</li>#}
  </ul>
  <div class="layui-tab-content" style="width: 100%">
{#      &***************************************************************************行情走势#}
        <div class="layui-tab-item layui-show">
            <div id="hangqingzoushi" style="min-width:400px;" class="content-item"></div>


        </div>
{#      &***************************************************************************公司概况#}
        <div class="layui-tab-item">
            <div class="layui-fluid">


                <table class="layui-table" lay-even style="margin-top: 50px;text-align: center">
                  <colgroup>
                    <col width="100">
                    <col width="400">
                    <col width="100">
                    <col width="400">
                  </colgroup>
                  <tbody>
                    <tr>
                      <td>成立日期</td>
                      <td id="birthday"></td>
                      <td>邮箱</td>
                      <td id="email"></td>
                    </tr>
                    <tr>
                      <td>上市日期</td>
                      <td id="marketday"></td>
                      <td>电话</td>
                      <td id="telephone"></td>
                    </tr>
                    <tr>
                      <td>官方网站</td>
                      <td id="website"></td>
                      <td>传真</td>
                      <td id="fax"></td>
                    </tr>
                    <tr>
                      <td>注册地址</td>
                      <td id="registeraddress"></td>
                      <td>办公地址</td>
                      <td id="workaddress"></td>
                    </tr>
                  </tbody>
                </table>

            </div>
        </div>
{#      ****************************************************************************公司高管#}
        <div class="layui-tab-item">
            <div class="layui-fluid">
                <table class="layui-table" lay-even style="margin-top: 50px;text-align: center" >
                  <colgroup>
                    <col width="100">
                    <col width="400">
                    <col width="100">
                    <col width="400">
                  </colgroup>
                  <tbody>
                    <tr>
                      <td>董事长</td>
                      <td id="chairman"></td>
                      <td>总经理</td>
                      <td id="generalmanager"></td>
                    </tr>
                    <tr>
                      <td>财务总监</td>
                      <td id="financialofficer"></td>
                      <td>董事会秘书</td>
                      <td id="secretary"></td>
                    </tr>
                    <tr>
                      <td>董事会成员</td>
                      <td id="member" colspan="3"></td>
                    </tr>
                  </tbody>
                </table>

            </div>
        </div>
{#      ****************************************************************************股份结构#}
        <div class="layui-tab-item">
            <div class="layui-fluid" style="text-align: center;position:absolute;left: 170px">
                 <table id="shares_struct"  lay-filter="shares_struct" style="text-align: center;"></table>
             </div>
        </div>
{#      ****************************************************************************十大股东#}
        <div class="layui-tab-item">
            <script>
                  layui.use('element', function(){
                  var element = layui.element;

                  //一些事件监听
                  element.on('tab(datetab)', function(data){
                    var stock_code = GetRequest();
                    var data1 = {data: JSON.stringify({"code":stock_code,"datetype":this.innerText})}
                    {#alert(stock_code+" "+this.innerText);#}
                    layui.use('table', function(){
                        var table = layui.table;
                        table.render({
                            elem: '.top10_member',
                            method:'POST',
                            where:data1,
                            {#width:800,#}
                            url:'/get_top10member_table',
                            {#page:true,#}
                            cols: [[ //表头
                                      {field: 'ranking', title: '股东名次',width:170,align:'center'},
                                      {field: 'membertname', title: '股东名称',width:400,align:'center'},
                                      {field: 'sharehold_num', title: '持股数量(万股)',width:200,align:'center'},
                                      {field: 'sharehold_pro', title: '持股比例(%)',width:200,align:'center'},
                                      {field: 'nature', title: '股份性质',width:200,align:'center'},
                                    ]]
                        })
                    });


                  });
                });



            </script>
            <div class="layui-tab layui-tab-card" lay-filter="datetab" style="width: 98%">
              <ul class="layui-tab-title">
                <li class="layui-this datetypes" id="datetype0">日期1</li>
                <li class="datetypes">日期2</li>
                <li class="datetypes">日期3</li>
                <li class="datetypes">日期4</li>
                <li class="datetypes">日期5</li>
              </ul>
              <div class="layui-tab-content" style="height: 500px;">
                <div class="layui-tab-item layui-show"></div>
                <div class="layui-tab-item"></div>
                <div class="layui-tab-item"></div>
                <div class="layui-tab-item"></div>
                <div class="layui-tab-item"></div>
                <div class="layui-fluid" style="text-align: center;float: left;left: 50px;top: 30px;">
                     <table class="top10_member"   ></table>
                </div>
              </div>
            </div>
        </div>
{#      ****************************************************************************财务报表#}
{#        <div class="layui-tab-item"></div>#}
{#      **********************************************************************财务分析#}
      <script>

      </script>
        <div class="layui-tab-item">
            <div class="layui-tab layui-tab-card" lay-filter="caiwufenxi" style="width: 98%">
              <ul class="layui-tab-title">
                <li class="layui-this" id="season1">1季度</li>
                <li>2季度</li>
                <li>3季度</li>
                <li>4季度</li>
              </ul>
              <div class="layui-tab-content" style="height: 600px;">
                <div class="layui-tab-item layui-show"></div>
                <div class="layui-tab-item"></div>
                <div class="layui-tab-item"></div>
                <div class="layui-tab-item"></div>
                <div id="caiwufenxi" class="content-item"></div>
              </div>
            </div>


        </div>

  </div>
</div>


    <nav>
    <div class="menubar">
      <a href="index1" class="home"> </a>
      <div>
          <form onSubmit="submitFn(this, event);">
                <div class="search-wrapper active">
                    <div class="input-holder">
                        <input type="text" class="search-input" placeholder="请输入关键词（代码/主营业务/关键字..）" />
                        <button class="search-icon" onClick="searchToggle(this, event);"><span></span></button>
                    </div>
                    <span class="close" onClick="searchToggle(this, event);"></span>
                    <div class="result-container">

                    </div>
                </div>
          </form>


      </div>
      <div class="icons">
        <div class="secondary-icons">
{#          <i class="icon-second"><img src="../static/img/icon-198.svg"></i>#}
          <i class="layui-icon layui-icon-home icon-second" style="font-size: 25px;font-weight: bolder;position: absolute;top: 23px;right: 10%" onclick="location='index1'"></i>
          <i class="icon-second" id="btn_showlogin" ><img src="../static/img/icon-171.svg"></i>
        </div>
        <div class="signed-user-menu box-shadow" id="signed-user-menu">
            <div id="usrpage" style="height: 50%;line-height: 40px">个人主页</div>
            <div style="height: 1px;background: rgb(224,224,224);width: 90%;margin: auto"></div>
            <div id="signout" style="height: 50%;line-height: 40px">退出登录</div>
        </div>
        <i class="icon-menu"><span></span></i>
      </div>
    </div>
    <ul class="menu">
      <li class="menu-link"><a href="#0" class="text-item">About Us</a></li>
      <li class="menu-link sub">
        <a href="#0" class="text-item">Our Members<span class="icon"></span></a>
        <ul class="submenu">
          <li class="sub-item"><a href="#0">Mr.Yang</a></li>
          <li class="sub-item"><a href="#0">Mr.He</a></li>
          <li class="sub-item"><a href="#0">Ms.Liu</a></li>
          <li class="sub-item"><a href="#0">Ms.Guo</a></li>
        </ul>
      </li>
      <li class="menu-link sub">
        <a href="#0" class="text-item">Our Services<span class="icon"></span></a>
        <ul class="submenu">
          <li class="sub-item"><a href="#0">Print Design</a></li>
          <li class="sub-item"><a href="#0">Web Design</a></li>
          <li class="sub-item"><a href="#0">Mobile App Development</a></li>
          <li class="sub-item"><a href="#0">UI Design</a></li>
        </ul>
      </li>
      <li class="menu-link sub">
          <a href="#0" class="text-item">联系我们<span class="icon"></span></a>
          <ul class="submenu">
              <li class="sub-item"><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=841219366&amp;site=qq&amp;menu=yes" target="_blank" title="QQ">Mr.Yang</a></li>
              <li class="sub-item"><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=591468224&amp;site=qq&amp;menu=yes" target="_blank" title="QQ">Mr.He</a></li>

          </ul>
      </li>
    </ul>
  </nav>

  <!-- 弹出登录窗口 -->
  <div class="mini_login">
    <form class="form-horizontal" id="login_form" method="POST" action="#">
      <p id="close_minilogin">X</p>
      <div class="heading">Welcome</div>
      <div class="form-group">
        <i id="uimg"></i>
        <input name="username" id="username" type="text" class="form-control" placeholder="E-mail" />
        <p class="usrerrformat err">Please enter the correct email format!</p>
        <p class="usrerrempty err">Username cannot be empty!</p>
      </div>
      <div class="form-group">
        <i id="pimg"></i>
        <input name="password" id="password" type="password" class="form-control" placeholder="Password" />
        <p class="paserr err">Password cannot be empty!</p>
      </div>
      <div class="form-group">
        <button type="button" onclick="signin()" class="btn btn-default" ><i>Sign in</i></button>
        <span>Don't have an account? <a href="#" class="create_account" id="showSignup">Sign up</a></span><br>
        <span>Forget your password? <a href="#" class="create_account" id="showFindpass">Find back your
            password</a></span>
      </div>
    </form>
  </div>
  <!-- 弹出注册窗口 -->
  <div class="mini_signup">
    <form class="form-horizontal" id="signup_form" method="POST" action="#">
      <p id="close_minisignup">X</p>
      <div class="heading">Welcome</div>
      <div class="form-group">
        <i id="uimg"></i>
        <input name="username" id="username_signup" type="text" class="form-control" placeholder="E-mail" />
        <p class="usrerrformat err">Please enter the correct email format!</p>
        <p class="usrerrempty err">Username cannot be empty!</p>
      </div>
      <div class="form-group">
        <i id="pimg"></i>
        <input name="password" id="password_signup" type="password" class="form-control" placeholder="Password" />
        <p class="paserr err">Password cannot be empty!</p>
        <p class="paserr err">Password must be between 6 and 12 digits!</p>
      </div>
      <div class="form-group">
        <i id="pimg"></i>
        <input name="password" id="repassword_signup" type="password" class="form-control"
          placeholder="Confirm password" />
        <p class="repaserr err">Passwords are inconsistent!</p>
      </div>
      <div class="form-group">
        <i id="eimg"></i>
        <input name="VerificationCode" id="VerificationCode" type="text" class="form-control VC"
          placeholder="Enter Code" />
        <input type="button" value="SendCode" class="orange" onclick="sendCode()" />
        <p class="ecode err">Verification Code cannot be empty!</p>
      </div>

      <div class="form-group">
        <button type="button" class="btn btn-default" onclick="signup()"><i>Sign up</i></button>
        <span>Already have an account? <a href="#" class="create_account" id="showSignin1">Sign in</a></span>
      </div>
    </form>
  </div>
  <!-- 弹出find password窗口 -->
  <div class="mini_findpass">
    <form class="form-horizontal" id="findpass_form" method="POST" action="#">
      <p id="close_findpass">X</p>
      <div class="heading">Welcome</div>
      <div class="form-group">
        <i id="uimg"></i>
        <input name="username" id="username_findpass" type="text" class="form-control" placeholder="E-mail" />
        <p class="usrerrformat err">Please enter the correct email format!</p>
        <p class="usrerrempty err">Username cannot be empty!</p>
      </div>

      <div class="form-group">
        <i id="eimg"></i>
        <input name="VerificationCode" id="VerificationCode1" type="text" class="form-control VC"
          placeholder="Enter Code" />
        <input type="button" value="SendCode" class="orange" onclick="sendCode1()" />
        <p class="ecode err">Verification Code cannot be empty!</p>
      </div>

      <div class="form-group">
        <i id="pimg"></i>
        <input name="password" id="password_findback" type="password" class="form-control" placeholder="Password" />
        <p class="paserr err">Password cannot be empty!</p>
        <p class="paserr err">Password must be between 6 and 12 digits!</p>
      </div>
      <div class="form-group">
        <i id="pimg"></i>
        <input name="password" id="repassword_findback" type="password" class="form-control"
          placeholder="Confirm password" />
        <p class="repaserr err">Passwords are inconsistent!</p>
      </div>

      <div class="form-group">
        <button type="button" class="btn btn-default" onclick="findbackpass()"><i>Submit</i></button>
        <span>Already have an account? <a href="#" class="create_account" id="showSignin2">Sign in</a></span>
      </div>
    </form>
  </div>
  <div class="cover"></div>

<script src="../static/script/script.js"></script>
<script type="text/javascript" src="../static/script/login.js"></script>

</body>
</html>