<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>快发A股资讯平台</title>
{#    <script type="text/javascript" src="../static/js/rotate.js"></script>#}
    <script src="../static/script/jquery-3.3.1.min.js"></script>
    <script src="../static/script/move++.js"></script>
      <script src="../static/script/cookie.js"></script>
      <link rel="stylesheet" href="../static/layui/css/layui.css" media="all">
    <script src="../static/layui/layui.js"></script>
    <link rel="stylesheet" href="../static/styles/login.css">
    <link rel="stylesheet" href="../static/styles/index1.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/search-form.css" />
    <script>
        window.onload=function () {
            var keyword = GetRequest();
            var obj = eval(keyword);
            var serchdata=obj.keyword;

            var data = {data: JSON.stringify({"value":serchdata})};
            getTop50();
            setInterval(getTop50,60000);

            function getTop50(){
                $.ajax({
                    type:'POST',
                    url:'/get_allcode',
                    success:function (data) {
                        var codes=JSON.parse(data);

                        var end=codes.length/3;
                        var num=0;
                        for (var i=0;i<1000;i++) {
                            var Code=codes[i];
                            num++;
                            dealCode(Code,num);
                        }
                    }
                });
            }


          layui.use('table', function(){
          var table = layui.table;
          table.on('row(search_table)', function(obj){
              console.log(obj.tr); //得到当前行元素对象
              console.log(obj.data['id']); //得到当前行数据
              var link="company"+"?id="+obj.data['id'];
              window.location.href=link;
              //obj.del(); //删除当前行
              //obj.update(fields) //修改当前行数据
            });

          table.on('row(interested_table)', function(obj){
              console.log(obj.tr); //得到当前行元素对象
              console.log(obj.data['id']); //得到当前行数据
              var link="company"+"?id="+obj.data['id'];
              window.location.href=link;
              //obj.del(); //删除当前行
              //obj.update(fields) //修改当前行数据
            });
                    {#************************************************************************搜索结果#}
            table.render({
                method:'POST',
                elem: '#search_table',
                height: 500,
                width:1000,
                where:data,
                url: '/get_table', //数据接口
                page: {
                    layout:['limit','count','prev','page','next','skip'],
                    limit:10,
                    limits:[5,10,15],
                    groups:10,
                    first:"首页",
                    last:"尾页"
                },
                cols: [[ //表头
                  {field: 'id', title: '证券代码',align:'center', sort: true, fixed: 'left',width:120},
                  {field: 'shortname',align:'center', title: '公司简称'},
                  {field: 'reg_place',align:'center', title: '注册地'},
                  {field: 'market_time',align:'center', title: '上市时间', sort: true},
                  {field: 'executive',align:'center', title: '主营业务'}
                ]],
                  text: {
                    none: '暂无匹配数据'
                  }
            });
                 {#************************************************************************随机推荐#}
            table.render({
                elem: '#interested_table',
                {#height: 500,#}
                url:'/get_interested_table',
                {#page:true,#}
                cols: [[ //表头
                          {field: 'id', title: '证券代码',align:'center',width:120},
                          {field: 'shortname', title: '公司简称',align:'center',width:120}
                        ]]
            });


            });


            }

    var alldata=[];
    var compare = (prop)=>{
                        return (a,b)=>{
                            return parseFloat(a[prop])>parseFloat(b[prop] )? 1 : -1
                        }
                    };
    var compare1 = (prop)=>{
                        return (a,b)=>{
                            return parseFloat(a[prop])<parseFloat(b[prop] )? 1 : -1
                        }
                    };
    {#*********************************************************调用接口获得所有股票的实时数据******* #}
    function dealCode(Code,num) {
                        $.ajax({
                            type:'GET',
                            dataType:"script",
                            cache:"false",
                             url:'http://hq.sinajs.cn/list=s_'+Code,
                             success:function (a) {
                                 var data=eval("hq_str_s_"+Code);
                                 var codeid=Code.substr(2);
                                 var obj=data.split(',');
                                 var oDiezhangfu=obj[3];
                                 alldata.push({"id":codeid,"shortname":obj[0],"diezhangfu":oDiezhangfu});
                                 if (num==1000){
                                     console.log("SUCCESS");
                                     var allSortData=alldata.sort(compare('diezhangfu'));
                                     console.log(allSortData);
                                     var diefuTop50=allSortData.slice(0,50);                                                    //跌幅前50
                                     for (var i=0;i<diefuTop50.length;i++){
                                         diefuTop50[i]["rank"]=i+1;
                                     }
                                     var zhangfuTop50=allSortData.slice(-50).sort(compare1('diezhangfu'));                    //涨幅前50
                                     for (var i=0;i<zhangfuTop50.length;i++){
                                         zhangfuTop50[i]["rank"]=i+1;
                                     }
                                     console.log(diefuTop50);
                                     console.log(zhangfuTop50);
                                     createDieandZhang(diefuTop50,zhangfuTop50);
                                 }
                             }
                        });
    }

    {#****************************************************************************向服务器传输关键字并获取返回数据#}
        function GetRequest() {
               var url = window.location.search; //获取url中"?"符后的字串
               var theRequest = new Object();
               if (url.indexOf("?") != -1) {
                  var str = url.substr(1);
                  strs = str.split("&");
                  for(var i = 0; i < strs.length; i ++) {
                      //就是这句的问题
                     theRequest[strs[i].split("=")[0]]=decodeURI(strs[i].split("=")[1]);
                     //之前用了unescape()
                     //才会出现乱码
                  }
               }
               return theRequest;
        }
</script>

<script type="text/javascript">
        function createDieandZhang(diefuData,zhangfuData) {
          layui.use('table', function(){
          var table = layui.table;
          table.on('row(increase_table)', function(obj){
              console.log(obj.tr) //得到当前行元素对象
              console.log(obj.data['id']) //得到当前行数据
              var link="company"+"?id="+obj.data['id'];
              window.location.href=link;
              //obj.del(); //删除当前行
              //obj.update(fields) //修改当前行数据
            });

          table.on('row(decrease_table)', function(obj){
              console.log(obj.tr) //得到当前行元素对象
              console.log(obj.data['id']) //得到当前行数据
              var link="company"+"?id="+obj.data['id'];
              window.location.href=link;
              //obj.del(); //删除当前行
              //obj.update(fields) //修改当前行数据
            });

                 {#************************************************************************涨幅#}
            table.render({
                elem: '#increase_table',
                height: 500,
                data:zhangfuData,
                limit:50,
                {#url:'/get_increase_table',#}
                {#page:true,#}
                cols: [[ //表头
                          {field: 'rank', title: '排行',align:'center',width:80,sort:true},
                          {field: 'id', title: '证券代码',align:'center',width:120},
                          {field: 'shortname', title: '公司简称',align:'center',width:120},
                          {field: 'diezhangfu', title: '涨幅(%)',align:'center',width:100,style:'color: #FE0000;'},
                        ]]
            });
                 {#************************************************************************跌幅#}
            table.render({
                elem: '#decrease_table',
                height: 500,
                limit:50,
                data:diefuData,
                {#url:'/get_interested_table',#}
                {#page:true,#}
                cols: [[ //表头
                          {field: 'rank', title: '排行',align:'center',width:80,sort:true},
                          {field: 'id', title: '证券代码',align:'center',width:120},
                          {field: 'shortname', title: '公司简称',align:'center',width:120},
                          {field: 'diezhangfu', title: '跌幅(%)',align:'center',width:100,style:'color: #129800;'},
                        ]]
            });
                 {#************************************************************************。。#}


            });
        }

       function searchToggle(obj, evt){
                var container = $(obj).closest('.search-wrapper');

                if(!container.hasClass('active')){
                      container.addClass('active');
                      evt.preventDefault();
                }
                else if(container.hasClass('active') && $(obj).closest('.input-holder').length == 0){
                      container.removeClass('active');
                      // clear input
                      container.find('.search-input').val('');
                      // clear and hide result container when we press close
                      container.find('.result-container').fadeOut(100, function(){$(this).empty();});
                }
            }

       function submitFn(obj, evt){
                value = $(obj).find('.search-input').val().trim();
                if(!value.length){
                    alert("关键词不能为空!");
                }
                else{
                    var link="details"+"?keyword="+value;
                    window.location.href=link;
                    {#search_req(value);#}
                }
                evt.preventDefault();
            }
</script>
</head>

<body>
<style>
      .search_table{
          position: absolute;
          left: 0;
      }

      .recommend_table{
          position: absolute;
          right: 0;
      }

    .line{
        {#width: 800px;#}
        height: 1px;
        background: gray;
        margin-top: 5px;
    }
    .line1{
                {#width: 800px;#}
    }
    .line2{
        {#width: 200px;#}
    }
    .table1{
        position: absolute;
        top: 120px;
        width: 90%;
        left: 5%;
          {#width: ;#}
          z-index: 0;
    }
    .table2{
          position: absolute;
          top: 700px;
        width: 92%;
        left: 4%;
          {#width: ;#}
          z-index: 0;
    }
  </style>

    <div class="layui-container table1">
            <div class="search_table">
                  <h2>为您找到的证券:</h2>
                  <div class="line line1"></div>
                  <table id="search_table"  lay-filter="search_table"></table>
              </div>

             <div class="recommend_table" >
                  <h2>可能会感兴趣的证券:</h2>
                  <div class="line line2"></div>
                  <table id="interested_table" class="layui-table" lay-skin="line" lay-filter="interested_table"></table>
              </div>

    </div>




  <div class="layui-container table2">
      <div class="layui-row layui-col-space10">
          <div class="layui-col-md4">
              <div class="increase_table" >
                  <h2>实时涨幅排行:</h2>
                  <div class="line line2"></div>
                  <table id="increase_table" class="layui-table" lay-skin="line" lay-filter="increase_table"></table>
              </div>
          </div>
          <div class="layui-col-md4">
              <div class="decrease_table" >
                  <h2>实时跌幅排行:</h2>
                  <div class="line line2"></div>
                  <table id="decrease_table" class="layui-table" lay-skin="line" lay-filter="decrease_table"></table>
              </div>
          </div>
          <div class="layui-col-md4" >
               <h2>分时线:</h2>
                <div class="line line2"></div>
              <div class="layui-tab">
                  <ul class="layui-tab-title">
                    <li class="layui-this">上证指数</li>
                    <li>深证成指</li>
                  </ul>
                  <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show"><img src="http://image.sinajs.cn/newchart/min/n/sh000001.gif" style="object-fit: cover;width: 100%;height: 100%"></div>
                    <div class="layui-tab-item"><img src="http://image.sinajs.cn/newchart/min/n/sz399001.gif" style="object-fit: cover;width: 100%"></div>
                  </div>
                </div>
              <script>
                layui.use('element', function(){
                  var element = layui.element;

                });
                </script>
          </div>
      </div>
  </div>








  <nav>
    <div class="menubar">
      <a href="index1" class="home"> </a>
      <div>
          <form onSubmit="submitFn(this, event);">
                <div class="search-wrapper active">
                    <div class="input-holder">
                        <input type="text" class="search-input" placeholder="请输入关键词（代码/主营业务/关键字..）" />
                        <button class="search-icon" onClick="searchToggle(this, event);"><span></span></button>
                    </div>
                    <span class="close" onClick="searchToggle(this, event);"></span>
                    <div class="result-container">

                    </div>
                </div>
          </form>
      </div>
      <div class="icons">
        <div class="secondary-icons">
            <i class="layui-icon layui-icon-home icon-second" style="font-size: 25px;font-weight: bolder;position: absolute;top: 23px;right: 10%" onclick="location='index1'"></i>
            <i class="icon-second" id="btn_showlogin" ><img src="../static/img/icon-171.svg"></i>
        </div>
        <div class="signed-user-menu box-shadow" id="signed-user-menu">
            <div id="usrpage" style="height: 50%;line-height: 40px">个人主页</div>
            <div style="height: 1px;background: rgb(224,224,224);width: 90%;margin: auto"></div>
            <div id="signout" style="height: 50%;line-height: 40px">退出登录</div>
        </div>
        <i class="icon-menu"><span></span></i>
      </div>
    </div>
    <ul class="menu">
      <li class="menu-link"><a href="#0" class="text-item">About Us</a></li>
      <li class="menu-link sub">
        <a href="#0" class="text-item">Our Members<span class="icon"></span></a>
        <ul class="submenu">
          <li class="sub-item"><a href="#0">Mr.Yang</a></li>
          <li class="sub-item"><a href="#0">Mr.He</a></li>
          <li class="sub-item"><a href="#0">Ms.Liu</a></li>
          <li class="sub-item"><a href="#0">Ms.Guo</a></li>
        </ul>
      </li>
      <li class="menu-link sub">
        <a href="#0" class="text-item">Our Services<span class="icon"></span></a>
        <ul class="submenu">
          <li class="sub-item"><a href="#0">Print Design</a></li>
          <li class="sub-item"><a href="#0">Web Design</a></li>
          <li class="sub-item"><a href="#0">Mobile App Development</a></li>
          <li class="sub-item"><a href="#0">UI Design</a></li>
        </ul>
      </li>
      <li class="menu-link sub">
          <a href="#0" class="text-item">联系我们<span class="icon"></span></a>
          <ul class="submenu">
              <li class="sub-item"><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=841219366&amp;site=qq&amp;menu=yes" target="_blank" title="QQ">Mr.Yang</a></li>
              <li class="sub-item"><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=591468224&amp;site=qq&amp;menu=yes" target="_blank" title="QQ">Mr.He</a></li>

          </ul>
      </li>
    </ul>
  </nav>

  <!-- 弹出登录窗口 -->
  <div class="mini_login">
    <form class="form-horizontal" id="login_form" method="POST" action="#">
      <p id="close_minilogin">X</p>
      <div class="heading">Welcome</div>
      <div class="form-group">
        <i id="uimg"></i>
        <input name="username" id="username" type="text" class="form-control" placeholder="E-mail" />
        <p class="usrerrformat err">Please enter the correct email format!</p>
        <p class="usrerrempty err">Username cannot be empty!</p>
      </div>
      <div class="form-group">
        <i id="pimg"></i>
        <input name="password" id="password" type="password" class="form-control" placeholder="Password" />
        <p class="paserr err">Password cannot be empty!</p>
      </div>
      <div class="form-group">
        <button type="button" onclick="signin()" class="btn btn-default"><i>Sign in</i></button>
        <span>Don't have an account? <a href="#" class="create_account" id="showSignup">Sign up</a></span><br>
        <span>Forget your password? <a href="#" class="create_account" id="showFindpass">Find back your
            password</a></span>
      </div>
    </form>
  </div>
  <!-- 弹出注册窗口 -->
  <div class="mini_signup">
    <form class="form-horizontal" id="signup_form" method="POST" action="#">
      <p id="close_minisignup">X</p>
      <div class="heading">Welcome</div>
      <div class="form-group">
        <i id="uimg"></i>
        <input name="username" id="username_signup" type="text" class="form-control" placeholder="E-mail" />
        <p class="usrerrformat err">Please enter the correct email format!</p>
        <p class="usrerrempty err">Username cannot be empty!</p>
      </div>
      <div class="form-group">
        <i id="pimg"></i>
        <input name="password" id="password_signup" type="password" class="form-control" placeholder="Password" />
        <p class="paserr err">Password cannot be empty!</p>
        <p class="paserr err">Password must be between 6 and 12 digits!</p>
      </div>
      <div class="form-group">
        <i id="pimg"></i>
        <input name="password" id="repassword_signup" type="password" class="form-control"
          placeholder="Confirm password" />
        <p class="repaserr err">Passwords are inconsistent!</p>
      </div>
      <div class="form-group">
        <i id="eimg"></i>
        <input name="VerificationCode" id="VerificationCode" type="text" class="form-control VC"
          placeholder="Enter Code" />
        <input type="button" value="SendCode" class="orange" onclick="sendCode()" />
        <p class="ecode err">Verification Code cannot be empty!</p>
      </div>

      <div class="form-group">
        <button type="button" class="btn btn-default" onclick="signup()"><i>Sign up</i></button>
        <span>Already have an account? <a href="#" class="create_account" id="showSignin1">Sign in</a></span>
      </div>
    </form>
  </div>
  <!-- 弹出find password窗口 -->
  <div class="mini_findpass">
    <form class="form-horizontal" id="findpass_form" method="POST" action="#">
      <p id="close_findpass">X</p>
      <div class="heading">Welcome</div>
      <div class="form-group">
        <i id="uimg"></i>
        <input name="username" id="username_findpass" type="text" class="form-control" placeholder="E-mail" />
        <p class="usrerrformat err">Please enter the correct email format!</p>
        <p class="usrerrempty err">Username cannot be empty!</p>
      </div>

      <div class="form-group">
        <i id="eimg"></i>
        <input name="VerificationCode" id="VerificationCode1" type="text" class="form-control VC"
          placeholder="Enter Code" />
        <input type="button" value="SendCode" class="orange" onclick="sendCode1()" />
        <p class="ecode err">Verification Code cannot be empty!</p>
      </div>

      <div class="form-group">
        <i id="pimg"></i>
        <input name="password" id="password_findback" type="password" class="form-control" placeholder="Password" />
        <p class="paserr err">Password cannot be empty!</p>
        <p class="paserr err">Password must be between 6 and 12 digits!</p>
      </div>
      <div class="form-group">
        <i id="pimg"></i>
        <input name="password" id="repassword_findback" type="password" class="form-control"
          placeholder="Confirm password" />
        <p class="repaserr err">Passwords are inconsistent!</p>
      </div>

      <div class="form-group">
        <button type="button" class="btn btn-default" onclick="findbackpass()"><i>Submit</i></button>
        <span>Already have an account? <a href="#" class="create_account" id="showSignin2">Sign in</a></span>
      </div>
    </form>
  </div>
  <div class="cover"></div>
    <script src="../static/script/script.js"></script>
<script type="text/javascript" src="../static/script/login.js"></script>
</body>

</html>